
button {
    cursor: pointer;
    outline: none;
    background-color: $colour-border;
    border: 0;
    padding: 0.25rem;
    color: $colour-text;

    &:hover {
        background-color: lighten($colour-body-background, 10%);
        color: darken($colour-text, 10%);
    }
}
