
$colour-body-background: #333;
$colour-text: #eee;
$colour-border: #555;



$colour-link: yellow;
$colour-link-hover: yellow;
$colour-link-active: yellow;
$colour-link-visited: yellow;


body {
    background-color: $colour-body-background;
    color: $colour-text;
}

a {
    color: $colour-link;
}
a:hover {
    color: $colour-link-hover;
}
a:active {
    color: $colour-link-active;
}
a:visited {
    color: $colour-link-visited;
}

input {
    border-color: $colour-border;
    background-color: $colour-body-background;
}
