@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Nunito+Sans&family=Poppins:wght@400;600&family=Sansita+Swashed:wght@300&display=swap');

body {
    font-family: 'Nunito Sans';
}

pre, code {
    font-family: 'Fira Code';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins';
}
