
html {
    font-size: 16px;
}

body, button, input, table {
    font-size: 1rem;
}

input {
    outline: none;
    // these need to be separate otherwise it'll override colour
    border-width: 2px;
    border-style: solid;
    margin: 0;
}
